*
{
    background-image: url(hogwart.jpg);
}
#opis
{
    float: left;
    color: white;
    width: 25%;
    height: 50%;
    font-size: 25px;
    text-align: center;
}
#czesci
{
    padding-top: 25px;
    color: white;
    width: 25%;
    height: auto;
    clear: both;
    background-color: black;
    font-size: 18px;
    text-align: center;
}
